/* custom css defined by the user */
div {
  .parent-container.header_wrapper {
    .rdrDateRangePickerWrapper * {
      text-transform: uppercase;
      text-decoration-line: underline;
      font-size: 20px;
    }
  }
}
